<h1>New Entry</h1>

<%= form_with url: "/entries", local: true, html: { multipart: true } do %>
  <%= hidden_field_tag "place_id", params["place_id"] %>

  <p>
    <label for="title_input">Title</label>
    <%= text_field_tag "title", nil, id: "title_input", class: "form-control" %>
  </p>

  <p>
    <label for="description_input">Description</label>
    <%= text_field_tag "description", nil, id: "description_input", class: "form-control" %>
  </p>

  <p>
    <label for="occurred_on_input">Occurred On</label>
    <%= date_field_tag "occurred_on", nil, id: "occurred_on_input", class: "form-control" %>
  </p>

  <p>
    <label for="image_input">Upload Image (Optional)</label>
    <%= file_field_tag "image", id: "image_input", class: "form-control" %>
  </p>

  <%= submit_tag "Save", class: "btn btn-primary mt-3" %>
<% end %>
