<h1>New User Account</h1>

<%= form_with model: @user, url: "/users", method: "post" do |form| %>
  <p>
    <%= form.label :username %>
    <%= form.text_field :username %>
  </p>
  <p>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </p>
  <%= form.submit "Signup", class: "btn btn-success" %>
<% end %>
